.experiments {
  display: flex;
  justify-content: center;
}

.experiments__intro {
  margin-bottom: 5%;
  height: 50vh;
}

.experiments__body__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2%;
}

.experiments__body__project {
  width: 25%;
}

.experiments__body__project img{
  width: 100%;
  cursor: pointer;
}

.experiments__body__project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experiments__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.experiments__type {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 1%;
}

/* [1] The container */
.img-hover-zoom {
  height: 175px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

@media (min-width: 0px) and (max-width: 500px) {
  .experiments__body__row {
    flex-direction: column;
  }
  .experiments__body__project {
    width: unset;
  }
  .experiments__intro {
    margin-bottom: 5%;
    height: 30vh;
  }
}
