/* Guide style */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,700&display=swap');

:root {
  --background :  #F5F5F5;
  --blue :  #E6EBF7;
  --yellow : #F1B600;
  --lightyellow : #FFF7EF;
  --black : #191919;
  --grey : #848484;
}

a {
  text-decoration: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  color: var(--black);
}

a:hover {
  color:var(--yellow);
  fill:var(--yellow);
  transition: .3s;
}

a:active  {
  color:var(--yellow);
}

.project__link, .btn__img {
  transition: .3s;
  cursor: pointer;
}

.project__link:hover {
  margin-right: 5%;
}

h2, p {
  cursor: default;
}

h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

hr {
  border: 1px solid #DCDCDC;
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 0;

}


html {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  width: 100%;
  margin: 0;
}

li {
  margin: 5% auto;
}

nav {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

footer {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about {
  margin: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__button {
  border: solid 4px black;
  padding: 2%;
  margin-top: 5%;
  width: 65%;
  text-align: center;
}

.about__button:hover {
  border: solid 4px var(--yellow);
  transition: .3s;
}
.about__content {
  display: flex;
  flex-direction:row;
}

.about__text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.about__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: var(--black);
}

.about__text__container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.about__img {
  object-fit: cover;
  margin-right: 5%;
  width: 50%;
}

.body__img {
  background-color: var(--black);
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.body__img--none {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.body__img__container--blue {
  background-color: #5CA9DA;
}

.body__row {
  display: flex;
  flex-direction: row;
}

.body__row__container {
  margin-right: 20px;
}

.body__techno {
  margin-right: 10%;
}

.body__techno--5, .body__design{
  width: 15%;
  margin-right:5%;
}
.body__text--50 {
  width: 60%;
}

.caption {
  font-family: 'Karla';
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
}

.caption--tiny {
  font-family: 'Karla';
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
}

.caption--center {
  text-align: center;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
}

.column {
  display: flex;
  flex-direction: column;
}

.contact__container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.contact__link:hover {
  transition: 0.3s;
}

.contact__link:hover {
  color: var(--yellow);
}

.cw {
text-align: right;
font-family: 'Karla';
font-style: normal;
font-weight: normal;
font-size: 14px;
}

.hide {
  opacity: 0;
  transform: translateY(50px);
  transition: .8s;
}

.link--yellow {
  color:var(--yellow);
  transition:.3s;
}

.link--yellow:hover {
  color:var(--background);
}

.margin--5 {
  margin: 5% auto;
}

.marginbt--2 {
  margin-bottom:2%;
}

.margint--0 {
  margin-top: 0;
}

.menuPanel {
  display: none;
}

.nav__link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--yellow);
}

.nav__link--active {
  color: var(--yellow);
}

.nav__logo {
  width: 40px;
  height: 40px;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

.nav__container__link {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__container__link--45 {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project__subtitle {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: var(--grey);
}

.project_3_img {
  width: 60%;
  margin: 5% 0;
}

.project_3_img--100 {
  width: 100%;
}

.project_3_iframe {
  width: 100%;
}
.content {
  max-width: 940px;
  width: 100%;
}

.presentation {
  width: 100%;
  height: 80vh;
  display:flex;
  justify-content:center;
  align-items:center
}

.project__tile {
    margin-bottom: 5%;
}

.project__title {
  width: 100%;
  height: 50vh;
  display:flex;
  justify-content:center;
  align-items:center
}

.presentation__container {
  width: 100%;
}

.presentation__container h2 {
  width: 75%;
}

.presentation__container p {
  width: 90%;
}

.project__title__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.project__title__container .caption {
  margin: 0;
  font-size: 36px;
}

.project--blue {
  width: 100%;
  height: 75vh;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project--yellow {
  width: 100%;
  height: 75vh;
  background-color: var(--lightyellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__btn__container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.btn__img {
  margin: auto 2%;
}

.project__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project__text {
  width: 55%;
}

.project__text--right {
  width: 56%;
  margin-left: 5%;
}

.project__text h3 {
  margin: 3% auto;
}

.project__text h2 {
  margin: 3% auto;
}

.project__text .caption {
  margin: 3% auto;
}

.project__img {
  width: 45%;
}

.project__content__container, .project__content__body {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 2%;
}

.project__content__intro {
  display: flex;
  flex-direction: row;
}

.project__content__intro__overview {
  margin-right: 50px;
  width: 295%;
}

.project__content__skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;

}

.skill {
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid var(--yellow);
    margin: 1%;
    padding: 1% 2%;
    color: var(--yellow);
    border-radius: 5px;
}

.project__content__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.project__content__text,ul,ol {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.project__content__quote {
    background-color: var(--black);
    display:flex;
    justify-content:center;
    align-items:center
}

.project__content__quote p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

.project__navigation {
  background-color: var(--background);
  padding-top: 1.5%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  overflow: hidden;
}

.role__container__title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row__img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row__img img {
  margin: .5%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .project__content--offset {
  /*padding-top: 60px;*/
  padding-top: 0px;
}

.shadow-pop-bl {
	animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-17 12:48:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-bl
 * ----------------------------------------
 */
@keyframes shadow-pop-bl {
  0% {
    box-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
    transform: translateX(8px) translateY(-8px);
  }
}

.text__list li{
  margin: 2% auto;
}

.highlight {
  background-image: linear-gradient(to right, transparent 50% ,#f7f7b2 50%);
  background-position: 0 0;
  background-size: 200% 100%;
  transition: background-size 0.25s ease-in;
  transition: .5s;
}
.underline {
  background-image: linear-gradient(120deg, var(--yellow) 0%, var(--yellow) 100%);
  background-repeat: no-repeat;
  background-size: 100% 18px;
  background-position: 0 90%;
  transition: background-size 0.25s ease-in;
}

.underline--hover {
  background-image: linear-gradient(120deg, var(--yellow) 0%, var(--yellow) 100%);
  background-repeat: no-repeat;
  background-size: 100% 18px;
  background-position: 0 90%;
  transition: background-size 0.25s ease-in;
}

.underline--hover:hover {
    background-size: 100% 48px;
    cursor: pointer;
}

.underline__link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
}

.underline__link:hover {
  color:var(--black);
}

.underConstruction {
    background-color: var(--black);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 2% 0;
}

.underConstruction p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

.w--35 {
  width: 35%;
}


#projectimg2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project_1_gif {
  width: 15%;
  padding: 5%
}
/************************** Menu Panel *****************************************/

#menu-panel {
  display: none;
}

.menuPanel {
  position: fixed;

  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0.96;
}

.menuPanel--center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuPanel__link__container {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menuPanel__link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.menuPanel__link a {
  font-size: 45px;
  text-align: center;
}

.menuPanel__social {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#menuBurgerButton {
  display: none;
  z-index: 1;
}

/**************************     RESPONSIVE    *********************************/

/* Demi-ecran & tablet */
@media (min-width: 500px) and (max-width: 940px) {
  .about__button {
    width: 100%;
  }

  .content {
    max-width: 90%;
  }

  .nav__container__link {
    width: 60%;
  }

  .nav__container__link--45{
    width: 90%;
  }
}

/* Phone */
@media (min-width: 0px) and (max-width: 500px) {
  a {
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }

  .about__button {
    width: 90%;
  }

  .about__content {
    display: flex;
    flex-direction: column;
  }

  .about__img {
    width: 97%;
  }

  .about__text {
    font-size: 18px;
  }

  .about__text__container {

    width: 100%;
    display: flex;
    flex-direction: column;

 }

  .about__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: var(--black);
  }

  .body__row {
    display: flex;
    flex-direction: column;
  }

  .body__techno--5, .body__design {
    width: 100%;
    margin-right: unset;
  }

  .body__text--50 {
    width: 100%;
  }

  .caption, .project__title__container .caption, .project__content__quote p {
    font-size: 18px;
  }

 .contact__container {
    width: 70%;
  }

  .content {
    max-width: 90%;
  }

  .hide {
    opacity: 1;
    transform: unset;
    transition: unset;
  }

  .nav__container__link--45{
    width: 90%;
  }

  .nav__logo {
    width: 50px;
    height: 50px;
 }

 .nav__logo__container {
   display: flex;
   align-items: center;
   z-index: 100;
 }

  .presentation {
    height: 50vh;
  }

  .presentation__container h2 {
    width: 100%;
 }

  .project--blue, .project--yellow {
    height: unset;
    padding: 10% 0%;
   }

  .project__container--left {
    flex-direction: column-reverse;
  }

  .project__container--right {
    flex-direction: column;
  }

  .sticky + .project__content--offset {
    padding-top: 0px;

  }
  .project__content__intro {
    display: flex;
    flex-direction: column;
  }

  .project__content__intro__overview {
    margin-right: 0;
    width: unset;
  }

  .project__img {
    width: 100%;
  }

 .project__text {
    width: 100%;
 }

 .project__title {
    height: unset;
    padding: 10% 0;
 }

 .project__subtitle {
    font-size: 18px;
 }

  .role__container__title {
    font-size: 18px;
  }

  .cw {

    text-align: right;
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;

 }

  .underline--hover:hover {
    color: var(--black)
  }

  .underline__link {
    font-size: 30px;
  }

  #projectimg2 {
    margin-bottom: 5%;
  }

  #menu--desktop {
    display: none;
  }

  #menuBurgerButton {
    display: inline;
  }

  #navbar {
    display: none;
  }

}
